<h1>My Users</h1>

{{#if Vit}}
<p>Список пользователей:</p>
<form action="/del" method="post">
    <ol>
        {{#each Vit}}
        <li>
            <input type="checkbox" name="name" value="{{this.name}}"> {{this.name}} {{this.Lname}} {{this.mail}} {{this.Telephone}} {{this.Positions}}
        </li>
        {{/each}}
    </ol>
    <input type="submit" value="Delete people">
</form>
{{else}}
<p>Список пользователей пуст</p>
{{/if}}

<a href="/">Come back star page</a>